<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">

    <targets>
        <target name="logfile" xsi:type="File"
                fileName="${basedir}/logs/current.log"
                archiveFileName="${basedir}/logs/archive.log"
                archiveAboveSize="10240"
                archiveSuffixFormat=".{1:yyyyMMdd}.{0:00}"
                maxArchiveFiles="5"
                deleteOldFileOnStartup="false"
                archiveOldFileOnStartup="false" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>